<header>
  <nav>
    <h2 class="website-logo">NoteNest</h2>
    <div class="nav-el-container">
      <a href="/" class="nav-el">Home</a>
      <a href="/about" class="nav-el">About</a>
    </div>
    <div class="login-container">
      <div class="btn signup">
        <a href="/signup">Sign Up</a>
      </div>
      <div class="btn login">
        <a href="/signin">Sign In</a>
      </div>
    </div>
  </nav>
</header>
