<div class="sidebar">
  <div class="user">
    <div class="user-detail">
      <img src="/images/img.jpg" alt="Profile Photo" />
      <h2>Display Name</h2>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <a href="/logout"><h3>Logout</h3></a>
  </div>
</div>
