<div class="sidebar">
  <div class="user">
    <div class="user-detail">
      <img src="<%= user.profileImage %>" alt="Profile Photo" />
      <p><%= user.userName %></p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="user-option">
      <a href="/logout">Logout</a>
      <p id="profile">Profile</p>
    </div>
  </div>
  <form action="/dashboard/search" method="post" class="search-container">
    <input type="text" name="searchTerm" placeholder="Search..." />
  </form>
  <a href="/dashboard/new-note">
    <div class="new-note">New Note +</div>
  </a>
  <h2>Notes</h2>
  <div class="notes-container">
    <% notes.forEach(note => { %>
    <a href="/dashboard/note/<%= note._id %>" class="note"><%= note.title %></a>
    <% }) %>
  </div>
</div>
