<div class="container" id="about">
  <div class="about">
    <h2 class="title">About</h2>
    <p>
      Write your thoughts down as they come to you. NoteNest is a simple to use
      free note taking app compatible on Desktop and Mobile. Made with mode
      Node.Js, EJS and MongoDB.
    </p>
  </div>
  <div class="stack-container">
    <div class="stack features">
      <h3>Features</h3>
      <ul>
        <li>Free and Open</li>
        <li>Responsive</li>
        <li>Google Authentication</li>
        <li>Search</li>
        <li>Dashboard</li>
        <li>User Friendly UI/UX</li>
        <li>Create Notes</li>
        <li>View Notes</li>
        <li>Update Notes</li>
        <li>Delete Notes</li>
      </ul>
    </div>
    <div class="stack tech">
      <h3>Tech Stack</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javasrcipt</li>
        <li>NodeJs</li>
        <li>Express</li>
        <li>EJS</li>
        <li>MongoDB</li>
      </ul>
    </div>
    <div class="stack dependencies">
      <h3>Dependencies Used</h3>
      <ul>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
        <li>bcrypt (5.1.1)</li>
      </ul>
    </div>
  </div>
</div>
