<div class="container" id="about">
  <div class="about">
    <h2 class="title">About</h2>
    <p>
      Write your thoughts down as they come to you. NoteNest is a simple to use
      free note taking app compatible on Desktop and Mobile. Made with mode
      Node.Js, EJS and MongoDB.
    </p>
  </div>
  <div class="stack-container">
    <div class="stack features">
      <h3>Features</h3>
      <ul>
        <li>Free and Open</li>
        <li>Responsive</li>
        <li>Google Authentication</li>
        <li>Search</li>
        <li>Dashboard</li>
        <li>Profile Updation</li>
        <li>User Friendly UI/UX</li>
        <li>Create Notes</li>
        <li>View Notes</li>
        <li>Update Notes</li>
        <li>Delete Notes</li>
      </ul>
    </div>
    <div class="stack tech">
      <h3>Tech Stack</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javasrcipt</li>
        <li>NodeJs</li>
        <li>Express</li>
        <li>EJS</li>
        <li>MongoDB</li>
      </ul>
    </div>
    <div class="stack dependencies">
      <h3>Dependencies Used</h3>
      <ul>
        <li>bcrypt (5.1.1)</li>
        <li>body-parser (1.20.2)</li>
        <li>connect-flash (0.1.1")</li>
        <li>connect-mongo (5.1.0)</li>
        <li>cookie-parser (1.4.6)</li>
        <li>dotenv (16.4.5)</li>
        <li>ejs (3.1.9)</li>
        <li>express (4.19.2)</li>
        <li>express-ejs-layouts (2.5.1)</li>
        <li>express-session (1.18.0)</li>
        <li>method-override (3.0.0)</li>
        <li>mongoose (8.3.1)</li>
        <li>multer (1.4.5-lts.1)</li>
        <li>nodemailer (6.9.13)</li>
        <li>passport (0.7.0)</li>
        <li>passport-google-oauth20 (2.0.0)</li>
        <li>passport-local (1.0.0)</li>
      </ul>
    </div>
  </div>
</div>
