<div class="container">
  <div class="form-container">
    <% if (forgot == 'verify') { %>
    <form action="/forgot-verify" method="post">
      <h1>Token Verification</h1>
      <% if (error != '') { %>
      <div class="error"><%= error %></div>
      <% } %>
      <div class="input">
        <input type="text" name="token" placeholder="Mailed Token" />
      </div>
      <button type="submit" class="btn form-btn">Verify</button>
    </form>
    <% } else if (forgot == 'reset') { %>
    <form action="/reset-password?_method=PATCH" method="post">
      <h1>Change Password</h1>
      <% if (error != '') { %>
      <div class="error"><%= error %></div>
      <% } %>
      <div class="input">
        <input
          type="password"
          name="password"
          minlength="8"
          placeholder="New Password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
          title="Minimum Length of 8 characters. Please include at least 1 uppercase character, 1 lowercase character, and 1 number."
        />
        <i class="fa-solid fa-eye eye"></i>
      </div>
      <div class="input">
        <input
          type="password"
          name="password"
          minlength="8"
          placeholder="Confirm Password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
          title="Minimum Length of 8 characters. Please include at least 1 uppercase character, 1 lowercase character, and 1 number."
        />
        <i class="fa-solid fa-eye eye"></i>
      </div>
      <button type="submit" class="btn form-btn">Change Password</button>
    </form>
    <% } else { %>
    <form action="/forgot" method="post">
      <h1>Forgot Password</h1>
      <% if (error != '') { %>
      <div class="error"><%= error %></div>
      <% } %>
      <div class="input">
        <input type="email" name="email" placeholder="Email" />
      </div>
      <button type="submit" class="btn form-btn">Reset Password</button>
    </form>
    <% } %>
  </div>
</div>
