<%- include('./partials/pre-loader') %>
<div class="container home">
  <div class="align">
    <div class="img-container note1">
      <img src="/images/note.png" alt="note" />
    </div>
  </div>
  <div class="hero">
    <h1>Write Down Your thoughts down as they come to you</h1>
    <div class="btn" id="try">
      <a href="/signup">Try NoteNest, Its Free!</a>
    </div>
  </div>
  <div class="align">
    <div class="img-container note2">
      <img src="/images/note1.png" alt="note" />
    </div>
  </div>
</div>
