<div class="container">
  <div class="form-container">
    <form action="/signup" method="post" enctype="multipart/form-data">
      <h1>Sign Up</h1>
      <% if (error != '') { %>
      <div class="error"><%= error %></div>
      <% } %>
      <div class="input">
        <input
          type="text"
          name="username"
          placeholder="Username"
          minlength="6"
        />
      </div>
      <div class="input full-name">
        <input type="text" name="fName" placeholder="First Name" />
        <input type="text" name="lName" placeholder="Last Name" />
      </div>
      <div class="input">
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="input">
        <input
          type="password"
          name="password"
          minlength="8"
          placeholder="Password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
          title="Minimum Length of 8 characters. Please include at least 1 uppercase character, 1 lowercase character, and 1 number."
        />
        <i class="fa-solid fa-eye eye"></i>
      </div>
      <div class="input image-file">
        <label for="profile-image">Profile Image</label>
        <input type="file" id="profile-image" name="image" hidden />
      </div>
      <button type="submit" class="btn form-btn">Sign Up</button>
      <div class="line">
        <hr />
        or
        <hr />
      </div>
      <a href="/auth/google">
        <div class="btn google-btn">
          <svg
            id="google-logo"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 488 512"
          >
            <path
              fill="#070f2b"
              d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
            />
          </svg>
          Sign Up with Google
        </div>
      </a>
    </form>
  </div>
</div>
