@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Kadwa:wght@400;700&display=swap");
@import url(https://db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #070f2b;
  --color-2: #1b1a55;
  --color-3: #535c91;
  --color-4: #9290c3;
  --color-5: #3f3ff4;
  --color-6: #cf3030;
}

body {
  font-family: "Kadwa", serif;
  background-color: var(--color-1);
  color: var(--color-4);
}

/* .main {
  padding: 10px;
} */

.container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

form {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: var(--color-4);
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: "Kadwa", serif;
}

.btn {
  font-size: 1rem;
  background-color: var(--color-4);
  width: fit-content;
  padding: 1px 15px;
  border-radius: 40px;
  color: var(--color-1);
  cursor: pointer;
  border: 3px solid var(--color-4);
}

.btn:hover {
  filter: brightness(120%);
}

.btn > a {
  color: var(--color-1);
}

/* Pre - Loader Page */

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: var(--color-4);
  stroke-width: 3px;
  fill-opacity: 0;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

.logo-name {
  color: var(--color-4);
  font-size: 25px;
  letter-spacing: 15px;
  font-family: "Ink Free", cursive;
  font-weight: 700;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/* Header */

header {
  padding: 5px 10px;
}

nav {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "logo menu btn";
  width: 100%;
}

.website-logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  font-family: "Ink Free", cursive;
  font-size: 2.2rem;
  user-select: none;
}

.nav-el-container {
  grid-area: menu;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.nav-el {
  margin: 0 10px;
}

.nav-el:hover {
  color: var(--color-5);
}

.login-container {
  display: flex;
  justify-content: flex-end;
  grid-area: btn;
}

.signup {
  background-color: var(--color-1);
  border: 3px solid var(--color-4);
  color: var(--color-4);
  margin-right: 10px;
}

.signup > a {
  color: var(--color-4);
}

/* Dashboard Header */

.header {
  height: 9vh;
  min-height: 65px;
}

.date {
  font-family: "Ink Free", cursive;
  font-size: 2rem;
}

/* Home Page */

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.align {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero > h1 {
  font-family: "Just Me Again Down Here", cursive;
  font-size: 4rem;
  margin: 20px;
  text-align: center;
}

.hero > #try {
  margin: 20px 0;
  font-size: 1.2rem;
}

/* About */

#about {
  flex-direction: column;
  width: 70%;
  margin: auto;
  font-size: 1.1rem;
}

.about {
  width: 100%;
  padding: 10px 20px;
}

.stack-container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
}

.stack {
  margin: 0 40px;
}

/* Signup/Login */

.form-container {
  width: 380px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.error {
  width: 100%;
  background-color: #a24b4b;
  color: #601515;
  font-size: 1.1rem;
  padding: 5px 0;
  border-radius: 15px;
  border: none;
  margin: 5px 0;
  text-align: center;
}

.success {
  width: 100%;
  background-color: #65b367;
  color: #006d00;
  font-size: 1.1rem;
  padding: 5px 0;
  border-radius: 15px;
  border: none;
  margin: 5px 0;
}

.form-container input {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px 15px;
  background-color: rgba(83, 92, 145, 0.64);
  border: none;
  border-bottom: 3px solid transparent;
  margin: 5px 0;
  border-radius: 15px;
  color: var(--color-4);
  outline: none;
  transition: all 0.3s;
}

.form-container input:focus {
  border-bottom: 3px solid #55c57a;
}

.form-container input:focus:invalid {
  border-bottom: 3px solid var(--color-6);
}

.form-container input::placeholder {
  color: var(--color-4);
}

.full-name {
  display: flex;
  justify-content: space-between;
}

.form-container .full-name > input:nth-of-type(1) {
  margin-right: 2px;
}

.form-container .full-name > input:nth-of-type(2) {
  margin-left: 2px;
}

.image-file {
  cursor: pointer;
  font-size: 1.1rem;
  text-align: left;
  padding: 7px 15px;
  background-color: rgba(83, 92, 145, 0.64);
  margin: 5px 0;
  border-radius: 15px;
  color: var(--color-4);
}

.image-file > label {
  padding: 0 67% 0 0;
  cursor: pointer;
}

.btn:active,
.image-file:active {
  transform: translateY(2px);
}

.input {
  position: relative;
}

.eye {
  fill: var(--color-4);
  font-size: 1.1rem;
  position: absolute;
  right: 14px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.forgot {
  text-align: right;
}

.forgot > a {
  color: var(--color-5);
}

.line hr {
  width: 45%;
  height: 0;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-btn,
.google-btn {
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
s .google-btn > a {
  display: flex;
  align-items: center;
}

#google-logo {
  width: 15px;
  margin-right: 5px;
}

/* Dashboard */

.dashboard {
  background-color: var(--color-2);
  height: 85vh;
  display: flex;
}

/* Profile */

.profile {
  background-color: var(--color-1);
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 10px;
  border-radius: 15px;
  transition: transform 0.4s, top 0.4s;
}

.open-profile {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.image-update {
  position: relative;
}

.image-update img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.image-update label {
  position: absolute;
  bottom: 0;
  right: 120px;
  background-color: var(--color-2);
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 0 10px;
  cursor: pointer;
}

.image-update label:hover {
  color: var(--color-5);
}

.image-update label:active {
  transform: translateY(2px);
}

.profile h2 {
  text-align: center;
}

.profile-head {
  position: relative;
}

.profile-head > i {
  font-size: 1.6rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* Sidebar */

.sidebar {
  width: 32%;
  height: 85vh;
  overflow-y: auto;
  display: block;
  border-right: solid 2px var(--color-3);
  padding: 10px;
  text-align: center;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.user {
  display: block;
  text-align: center;
  transition: all 0.1s ease-in;
  border-bottom: 2px solid var(--color-3);
}

.user-option {
  display: none;
}

.user a,
.user p {
  font-size: 1.4rem;
}

.user a:hover,
.user p:hover:not(.user-detail > p) {
  color: var(--color-5);
}

#profile {
  cursor: pointer;
}

.user:hover .user-option {
  display: block;
}

.user-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
}

.user-detail > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-detail > i {
  font-size: 2rem;
}

.user:hover .user-detail > i {
  transform: rotate(180deg);
}

.search-container {
  width: 100%;
}

.search-container > input {
  width: 100%;
  padding: 5px 10px;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2px;
  background-color: var(--color-2);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-3);
  color: var(--color-4);
}

.search-container > input::placeholder {
  color: var(--color-4);
}

.new-note {
  font-size: 1.4rem;
  border-bottom: 2px solid var(--color-3);
}

a:hover > .new-note {
  color: var(--color-5);
}

.sidebar > h2 {
  text-decoration: underline;
}

.notes-container {
  height: 70%;
  overflow-y: auto;
}

.notes-container::-webkit-scrollbar {
  width: 6px;
}

.notes-container::-webkit-scrollbar-track {
  background-color: var(--color-4);
  border-radius: 5px;
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: var(--color-5);
  border-radius: 5px;
}

.notes-container > a {
  display: block;
}

.note {
  font-size: 1.4rem;
  overflow: hidden;
  height: 3rem;
}

.note:hover {
  color: var(--color-5);
}

/* Dashboard Home Page */

.display-area {
  height: 85vh;
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-name {
  font-family: "Ink Free", cursive;
  font-size: 3rem;
}

/* New Note Page */

.note-form {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.note-form > input,
.note-form > textarea {
  border: none;
  outline: none;
  font-size: 1.6rem;
  padding: 5px;
  background-color: var(--color-2);
  color: var(--color-4);
}

.note-form > input::placeholder,
.note-form > textarea::placeholder {
  color: var(--color-4);
}

.note-form > textarea {
  height: 100%;
}

.note-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.red {
  background-color: var(--color-6);
  border-color: var(--color-6);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
  /* height: 6vh; */
}

.logo {
  width: 15px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

@media only screen and (max-width: 420px) and (min-width: 100px) {
  .date {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .date {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas:
      "logo btn"
      "menu menu";
  }

  .website-logo {
    font-size: 1.8rem;
  }

  .header {
    height: 13vh;
  }

  .home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
      "note1 note2"
      "hero hero";
  }

  .note1 {
    grid-area: note1;
  }

  .hero {
    grid-area: hero;
  }

  .note2 {
    grid-area: note2;
  }

  #try {
    font-size: 1rem;
  }

  footer {
    width: 60%;
    margin: auto;
  }

  .logo {
    height: 44px;
    align-items: flex-start;
  }

  #about {
    width: 98%;
    text-align: center;
  }

  .stack-container {
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }

  .stack {
    margin: 5px 0;
  }

  .dashboard {
    height: 80vh;
  }
  .sidebar {
    height: 80vh;
  }
  .display-area {
    height: 80vh;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .date {
    font-size: 1.4rem;
  }

  .sidebar {
    width: 48%;
  }
}
